<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Xibo Documentation</title>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- favicon -->
        <link href="../img/favicon.ico" rel="shortcut icon"/>

        <!-- Bootstrap -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        
        <!-- Stylesheets -->
        <link href="../manual.css" rel="stylesheet" media="screen">
        
        <!-- META -->
        <meta name="keywords" content="digital signage, signage, narrow-casting, xibo, open source, agpl, documentation" />
        <meta name="description" content="Xibo is an open source digital signage solution. It supports all main media types and can be interfaced to other sources of data using CSV, Databases or RSS." />
    </head>
    <body data-toc="advanced">
        <!-- Copyright 2006-2013 Daniel Garner. Part of the Xibo Open Source Digital Signage Solution. Released under the AGPLv3 or later. -->
        <nav id="top-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ss-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Xibo Documentation</a>
                </div>
            
                <div class="collapse navbar-collapse" id="ss-navbar">
                    <ul class="nav navbar-nav">

                    </ul>
                </div>
            </div>
        </nav>

        <div class="ss_body container">
            <div class="row">
                <div class="col-md-3">
                    <ul id="side-nav" class="nav nav-pills nav-stacked">
                        <!-- <li><a href="index.html" data-toc-name="getting_started">Getting Started</a></li> -->
<li><a href="index.html" data-toc-name="tour">Tour</a></li><li><a href="displays.html" data-toc-name="displays">Displays</a></li><li><a href="layouts.html" data-toc-name="layouts">Layouts</a></li><li><a href="media.html" data-toc-name="media">Library</a></li><li><a href="scheduling.html" data-toc-name="scheduling">Scheduling</a></li><li><a href="users.html" data-toc-name="users">Users</a></li><li><a href="advanced.html" data-toc-name="advanced">Advanced</a></li><!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><ul>
<li><a href="advanced.html">Overview</a></li>
<li><a href="advanced_contributing.html">Contributing</a></li>
<li><a href="xtr.html">XTR - Routine Tasks</a></li>
<li><a href="xmr.html">XMR - Push Messaging</a></li>
<li><a href="api.html">API</a></li>
<li><a href="advanced_theme.html">Themes</a></li>
<li class="active"><a href="advanced_extending.html">Extending<span class="glyphicon glyphicon-arrow-left you-are-here-arrow"></span></a></li>
<li><a href="advanced_modules.html">Modules</a></li>
<li><a href="advanced_events.html">Events</a></li>
<li><a href="advanced_dateFormat.html">Date Format</a></li>
<li><a href="advanced_logging.html">Logging</a></li>
</ul></body></html>

                    </ul>
                </div>
                <div class="col-md-9" role="main">
                    <!--toc=advanced-->
<h1 id="extending_the_cms">Extending the CMS <a href="#extending_the_cms" class="header-link"><span class="glyphicon glyphicon-link"></span></a></h1>
<p>This section will discuss custom extensions to the CMS, but is also useful
reading for a developer wanting the extend the core CMS and contribute that
change back to the project.</p>
<p>It will discuss the CMS architecture and how that can be leveraged to make
changes.</p>
<p>Minor adjustments to the visual style of the CMS or provision of new Modules
is addressed in the Themes and Modules sections respectively.</p>
<p>Integration with 3rd party systems should always be achieved using the API
rather than direct modification of the CMS.</p>
<h2 id="architecture">Architecture <a href="#architecture" class="header-link"><span class="glyphicon glyphicon-link"></span></a></h2>
<p>The CMS is a PHP web application which uses the Slim2 framework. It's core
principle is that the majority of routes should be accessible via a RESTful
interface.</p>
<p>If Slim2 is entirely new then it is advisable to break out of this documentation
and review the <a href="http://docs.slimframework.com/">Slim2 documentation</a> to
understand how that works. Slim3 has since been released and migrating to
it is a development item for 1.9 Release. At that time it will be necessary
to update any integration to suite Slim3 - a migrating guide will be published.</p>
<p>The CMS has two main entry points:</p>
<ul>
<li><code>/web/index.php</code></li>
<li><code>/web/api/index.php</code></li>
</ul>
<p>Requests to each point are routed to the same end controller - for example:</p>
<ul>
<li><code>GET http://xibo/display</code></li>
<li><code>GET http://xibo/api/display</code></li>
</ul>
<p>Both end up at <code>Display::grid()</code> - the CMS framework knows how to format each
response accordingly, because of the Middleware that has been wrapped around
each entry point.</p>
<p>Routes accessed via the API entry point will not have Twig templates available
for formatting the response and in these cases the response will be JSON
formatted. The entry point can be tested by calling <code>$app-&gt;getName()</code>.</p>
<h3>Middleware</h3>
<p>Middleware surrounds the Slim application like an onion and is executed
before and after the main request in LIFO order. Additional Middleware can be
provided by adding to the <code>$middleware</code> array in <code>/web/settings.php</code>.</p>
<p>The Middleware added by the core application depends on the entry point that
has been used. For example, the web/api entry points use a different
authentication Middleware (one cms-auth and the other oauth2).</p>
<p>Custom Middleware is added to all entry points.</p>
<h3>Routing</h3>
<p>Routes are added using short hand notation, for example:</p>
<pre><code>$app-&gt;get('/display', '\Xibo\Controller\Display:grid')-&gt;name('display.search');</code></pre>
<p>When routes are matched the Controller is looked up in the DI container.
Therefore controllers should always be added to the DI container.</p>
<h3>Dependency Injection</h3>
<p>The CMS strictly injects all dependencies into the constructor of each object
it needs. Controller and Factories (these are actually Repositories) are
setup in Slim's DI container by the <code>State</code> Middleware.</p>
<p>To provide additional controllers, these should be registered to the
<code>Slim::container</code> in Middleware.</p>
<h3>Database access</h3>
<p>The database is MySQL and is accessible through a <code>PdoStorageService</code>
configured in the <code>Storage</code> Middleware.</p>
<h3>Application State</h3>
<p>The framework provides an <code>ApplicationState</code> object which can be used to
conditionally format a response. It is not necessary to use this object if you
would rather format your own response.</p>
<h3>Twig templates</h3>
<p>When using the <code>/web/index.php</code> entry point it is advisable but not necessary
to render output to the browser using the Twig template library. This is
included in the CMS code and has helper methods in the <code>ApplicationState</code>
object. This should be done for any page which should output HTML.</p>
<p>Themes should be used to provide additional templates for rendering.</p>
<p>A Controller should use the <code>ApplicationState</code> object and set the following
properties:</p>
<ul>
<li><code>ApplicationState::template</code> - set to the name of the template without it's
extension.</li>
<li><code>ApplicationState::setData()</code> - an array of data to provide to the template</li>
</ul>
<h3>Logging</h3>
<p>While developing it is advisable to put the CMS installation into Test mode so that full
logging output is available in the event of any errors. More information is available
<a href="advanced_logging.html">here</a>.</p>
<h2 id="examples">Examples <a href="#examples" class="header-link"><span class="glyphicon glyphicon-link"></span></a></h2>
<h3>Wiring up a new theme link</h3>
<p>You've developed a custom theme which exposes a new link on the navigation menu
(or anywhere else). </p>
<p><strong>We recommend you use a theme for custom modifications so that they are not overwritten
during an upgrade</strong>. </p>
<p>This link should take some action provided by a Custom Route/Controller.</p>
<p>Your link looks like:</p>
<pre><code>{% if currentUser.routeViewable("/myapp") %}
&lt;li class="sidebar-list"&gt;&lt;a href="{{ urlFor("test.view") }}"&gt;{% trans "Test" %}&lt;/a&gt;&lt;/li&gt;
{% endif %}</code></pre>
<p>The <code>urlFor</code> method will look to connect to a named route - <code>test.view</code> - and
this route will need to be provided.</p>
<p>Middleware is used to wire up the new route - create a Middleware file in the
<code>/custom</code> folder.</p>
<pre><code>&lt;?php
namespace Xibo\Custom;

use Slim\Middleware;

/**
 * Class MyMiddleware
 * @package Xibo\custom
 *
 * Included by instantiation in `settings.php`
 */
class MyMiddleware extends Middleware
{
    public function call()
    {
        $app = $this-&gt;getApplication();

        // Register some new routes
        $app-&gt;get('/myapp/test', '\Xibo\Custom\MyController:testView')-&gt;setName('test.view');

        // Register a new controller with DI
        // This Controller uses the CMS standard set of dependencies. Your controller can
        // use any dependencies it requires.
        // If you want to inject Factory objects, be wary of circular references.
        $app-&gt;container-&gt;singleton('\Xibo\Custom\MyController', function($container) {
            return new \Xibo\Custom\MyController(
                $container-&gt;logService,
                $container-&gt;sanitizerService,
                $container-&gt;state,
                $container-&gt;user,
                $container-&gt;helpService,
                $container-&gt;dateService,
                $container-&gt;configService
            );
        });

        // Next middleware
        $this-&gt;next-&gt;call();
    }
}</code></pre>
<p>The URL chosen will be automatically checked for permissions by the CMS
Middleware. If you want the route to be accessible by users other than super
admins, you should add <code>myapp</code> as a page record in the <code>pages</code> database table.</p>
<p>The Controller should be provided also:</p>
<pre><code>&lt;?php
namespace Xibo\Custom;

use Xibo\Controller\Base;
use Xibo\Service\ConfigServiceInterface;
use Xibo\Service\DateServiceInterface;
use Xibo\Service\LogServiceInterface;
use Xibo\Service\SanitizerServiceInterface;

/**
 * Class MyController
 * @package Xibo\Custom
 */
class MyController extends Base
{
    /**
     * Set common dependencies.
     * @param LogServiceInterface $log
     * @param SanitizerServiceInterface $sanitizerService
     * @param \Xibo\Helper\ApplicationState $state
     * @param \Xibo\Entity\User $user
     * @param \Xibo\Service\HelpServiceInterface $help
     * @param DateServiceInterface $date
     * @param ConfigServiceInterface $config
     */
    public function __construct($log, $sanitizerService, $state, $user, $help, $date, $config)
    {
        $this-&gt;setCommonDependencies($log, $sanitizerService, $state, $user, $help, $date, $config);
    }

    /**
     * Display Page for Test View
     */
    public function testView()
    {
        // Call to render the template
        // This assumes that "twig-template-name-without-extension.twig" exists
        // in the active theme (i.e. in the view path of the active theme).
        $this-&gt;getState()-&gt;template = 'twig-template-name-without-extension';
        $this-&gt;getState()-&gt;setData([]); /* Data array to provide to the template */
    }
}</code></pre>
<p>The Middleware needs to be wired up in the <code>settings.php</code> file:</p>
<pre><code>$middleware = [new \Xibo\Custom\MyMiddleware()];</code></pre>
<p>With this code added, visiting the CMS causes the new Middleware to be called,
which registers your new Controller and Route. If the link visited matches
your route, the Controller Method is executed and its output rendered.</p>
<p>This Controller example uses the <code>ApplicationState</code> to render a Twig template. The
template would need to be available in the view path of the active theme. If you
are using a custom theme this is <code>/web/theme/custom/themeName/views</code> (unless you have
specified an alternative path in your theme config).</p>
<p>Create a file in your theme named <code>twig-template-name-without-extension.twig</code> for the simplest
example of a Twig template.</p>
<pre><code>{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}
    &lt;div class="widget"&gt;
        &lt;div class="widget-title"&gt;{% trans "Page Name" %}&lt;/div&gt;
        &lt;div class="widget-body"&gt;

        &lt;/div&gt;
    &lt;/div&gt;
{% endblock %}</code></pre>
<p>Alternatively you can directly modify the browser output within the controller. To do this
you need to inform the <code>ApplicationState</code> object that it should not output anything. For
example:</p>
<pre><code>$this-&gt;setNoOutput(true);
echo 'This is my output to the browser';</code></pre>
                </div>
            </div>
        </div> <!-- container-->
        <footer class="ss_footer" role="contentinfo">
            <div class="container">
                <div class="pull-right">
                    <img class="img-responsive logo" src="../img/logo.png" alt="Xibo" />
                </div>

                <p class="ss_back_to_top">Back to Top</p>

                <p>Designed and built by <a href="http://springsignage.com/">Spring Signage</a> for the <a href="http://www.xibo.org.uk" target="_blank">Xibo Project</a>.</p>
                <p>Open Source Code licensed under <a href="" target="_blank">GNU Affero General Public License v3 or later</a>, documentation under <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/" target="_blank">Creative Commons Licence</a>.</p>

                <p class="ss_footer_links">Currently v1.8.4</p>

                <p class="ss_languages"><a href="../en/index.html">en</a> | <a href="../fr/index.html">fr</a></p>
            </div>
        </footer>

        <!-- JavaScript -->
        <script src="../vendor/jquery/jquery-1.9.1.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".ss_body img").addClass("img-thumbnail");
                $(".ss_body table").addClass("table");

                // Set the selected page based on the TOC name
                // Mark the appropriate top nav element as the selected page
                $("#side-nav a").each(function() {
                    if ($(this).data().tocName == $("body").data().toc)
                        $(this).parent().addClass("active");
                });

                $(".ss_back_to_top").click(function() {
                    $('html, body').animate({scrollTop : 0},800);
                });

                if (inIframe()) {
                    console.log("In Frame");
                    $("#top-nav").css("display", "none");
                    $(".ss-sidebar").parent().css("display", "none");
                }
            });

            function inIframe () {
                try {
                    return window.self !== window.top;
                } catch (e) {
                    return true;
                }
            }
        </script>
    </body>
</html>
